pandas
numpy
scikit-learn
matplotlib
seaborn
spacy
torch
transformers
jupyter
ipykernel
sentencepiece
langchain
langchain-text-splitters
langchain-community
bs4
langchain[google-genai]
langchain_chroma
google-generativeai
streamlit
python-dotenv